:root {
/* CSS HEX */
/* CSS HEX */
--davys-grey: #595959ff;
--gray-web: #7f7f7fff;
--quick-silver: #a5a5a5ff;
--light-gray: #ccccccff;
--cultured: #f2f2f2ff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Satoshi',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

footer {
  margin-bottom: 0%;
  
  text-align: center;
  padding: 3px;
  bottom: 0%;
  
  color: white;
}
footer .footer {
  font-size: 12px;
font-weight: 100;
opacity: 60%;}

footer .footer.name   {
  font-size: 18px;
}

footer .footer.praca   {
  font-size: 15px;
}
footer .footer.role   {
  opacity:20%;
}